# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

# VSCode
.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/
